html{
    height: 100%;
    background: linear-gradient(#0046ae, #9198e5);
}
div{
    width: 270px;
    height: 400px;
    background: linear-gradient(rgba(171, 179, 192, 0.694), rgba(220, 234, 248, 0.674));
    margin: auto;
    margin-top: 177px;
    border-radius: 13px;
    box-shadow: 2px 2px black,2px 2px black;
}
p{
    font-family: 'Franklin Gothic Medium';
    color: white;
    text-align: center;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.505);
}
img{
    margin-left: 35px;
    height: 200px;
    width: 200px;
    border-radius: 13px;
    
}
.song-name{
    font-family: 'Franklin Gothic Medium';
    color: white;
    text-align: center;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.505);
    margin: 0px;
}
.singer{
    font-family: 'Franklin Gothic Medium';
    color: rgb(68, 68, 68);
    text-align: center;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.505);
    margin: 0px;
}
.singer:hover{
    color: rgb(32, 32, 32);
    cursor: pointer;
}